* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    height: 100vh;
    width: 100%;
    color: aliceblue;
    background-image: url("/imagenes/meet-me-in-the-bathroom.jpg");

}

h1 {
  text-align: center;
  
}
