/* * {
    margin: 0;
} reset de margenes a toda la pagina
 
margin 0 20vw/vh es viewportwidth/viewportheight siempre de la ventana del navegador.
padding "x"rem/em
display: flex/inline/b
flex-direction: row/column
justify-content: spacebetween
gap:
-----------------------------
cosas a investigar
font-family: 'Montserrat', sans-serif;
font-family: "Undertown";
font-family: Arial, Helvetica, sans-serif;
font-family: "Oswald", serif;
*/

/* Fuente */
@font-face {
    font-family: "Undertown";
    src: url(UNDERTOWN\ PERSONAL\ USE.ttf);
}

* {
    margin: 0;
    text-decoration: none;
    outline: none;

}

.encabezado {
    display: grid;
    padding: 10px;
    text-align: center;
    background-color: #ece5ce;
    font-family: 'Montserrat', sans-serif;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    flex-grow: 1;
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-left: 10%;
    line-height: 1;
    color: black;
    
}

.btn-iniciar-sesion {
    background-color:rgba(0, 0, 0, 0.086);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-size:large;
    font-weight: bold;
    justify-content: center;
    font-weight: 500;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    

}

.btn-iniciar-sesion:hover {
    background-color: #9e03bd;
    border:none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.bar {
    background: rgba(0, 0, 0, 0.086);
    font-family: "Rubik", serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
    
}

.bar li {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.obj {
    list-style: none;
    text-decoration: none;
    font-size: large;
}

.imagenes-principal {
    display: flex;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 5px solid rgb(0 0 0 / 40%);
    justify-content: space-between;
    flex-grow: inherit;
    width: 90%;
    height: 500px;
}

.imagenes-principal img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.9;
    transition: .5s ease;
    justify-content: space-between;
}

.imagenes-principal img:hover{
    cursor: pointer;
    rotate: 360;
    width: 400px;
    opacity: 0.9;
    filter: contrast(110%);
}

.primera {
    font-family: "Rubik", serif;
    text-align: center;
    color: black;
    list-style-type: none;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(0 0 0 / 40%);
}

._blank {
    padding: 20px;
}

.productos {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Rubik", serif;
    background-color: rgba(0, 0, 0, 0.086);
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    
}

.reseñas {
    padding: 20px 10px;
    text-align: center;
    font-size: xx-large;
}

.caja img {
    border-radius: 20px;
    width: 200px;
    height: 210px;
    margin: 15px;
}

.caja img:hover {
    color: blueviolet;
    opacity: 50%;
}

.caja p {
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: black;

}

.pfab{
    background-color:hsl(from color h s l) ;
}

form{
    background-color:color-mix(in hsl shorter hue, percentage, color percentage);
    color:hsl(from color h s l);

}

#footer {
    display: flex;
    flex-direction: column;
    column-gap: auto;
}

.upper-footer {
    font-size: 25px;
    font-weight:normal;
    background-color:rgba(0, 0, 0, 0.086);
    display: flex;
    gap: 10%;
    padding: 2% 5%;
    width: auto;
}

.ubicacion-footer,.redes-footer,.recursos-footer,.pago-footer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: auto;
    align-items: flex-start;

}

.recursos-footer .mapa{
    text-align: center;
    justify-content: center;
    color: black;
    width: 135%;
    
}

.lista a {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: medium;
    width: 100%;
    list-style: none;
    
}

.recursos-footer .lista {
    list-style: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 101%;
    cursor: pointer;
    text-decoration: none;
}

.redes-footer .texto-footer {
    text-align: center;
    width: 150%;

}

.redes-footer .iconos-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 85px;
    padding-top: 15px;
    gap: 15%;
}

.pago-footer {
    align-items: center;
}

.pago-footer .medios {
    text-align: center;
    justify-content: center;
}

.pago-footer .icons-pago {
    display: flex;
    flex-direction:row;
    text-align: center;
    align-items: center;
    justify-content: baseline;
    gap: 20px;
    padding: 40px;
}

.ubicacion-footer {
    align-items: center;
    text-align: center;
}

.ubicacion-texto {
    padding-bottom: 10px;
}

.ubicacion-texto2 { 
    font-size: small;
}

.disclaimer-footer {
    align-items: flex-start;
    justify-content: center;
    background-color: grey;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-decoration: wavy;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}